:root {
  --nav-width: 200px;
  --nav-collapse-width: 80px;
  --header-height: 75px;
  --nav-bg-color: #3a86ff;
  --main-color: linear-gradient(
    109.8deg,
    rgb(62, 5, 116) -5.2%,
    rgb(41, 14, 151) -5.2%,
    rgb(216, 68, 148) 103.3%
  );
  --icon-color: #9932cc;
  --active-color: #ffff3f;
  --border-color: rgba(128, 128, 128, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.layout {
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.navbar {
  width: 100%;
  height: 4rem;
  background: var(--main-color);
  display: flex;
  justify-content: center;
}

.navbar__content {
  width: 70%;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__content a:visited {
  color: white;
}

.navbar__content i {
  font-size: 35px;

  cursor: pointer;
}
.navbar__content select {
  height: 2rem;
}
.post {
  margin-top: 4rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  border: 1px solid var(--border-color);
}
.post img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.featured__info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.icons i {
  font-size: 18px;
  cursor: pointer;
  color: var(--icon-color);
}
.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.edit {
  display: flex;
  gap: 20px;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin-top: 2rem;
  background-color: white;
}
.input__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input__box input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;

  width: 100%;
}
.button {
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  padding: 10px;
  background: var(--main-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 6rem;
  cursor: pointer;
  display: none;
}
.open {
  display: flex;
}
.comment {
  margin-top: 10px;
  display: flex;

  gap: 10px;
}
